.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  max-width: 1184px;
}

.photo-grid__image {
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    padding: 0 48px;
  }
}
