.header {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
}

.header__logo-link {
  /*Иначе снизу логотипа добавятся лишняя пара пикселей и высота блока header увеличится*/
  line-height: 0;
  transition: opacity 0.2s ease;
}

.header__logo-link:hover {
  opacity: 0.8;
}

.header__lang-links {
  display: flex;
  list-style-type: none;
  margin: 18px 0 6px;
  padding-left: 0;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-links-item {
  margin-right: 18px;
  transition: opacity 0.2s ease;
}

.header__lang-links-item:hover {
  opacity: 0.8;
}

.header__lang-links-item:last-child {
  margin-right: 0;
}

.header__lang-link {
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
}

.header__lang-link_active {
  position: relative;
}

.header__lang-link_active::after {
  position: absolute;
  content: "";
  display: block;
  width: 29px;
  border-bottom: 1px solid #FFFFFF;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }

  .header__lang-links {
    margin: 14px 0 0;
    padding-left: 0;
    font-size: 18px;
    line-height: 20px;
  }

  .header__lang-link_active::after {
    width: 22px;
  }
}

