.header {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
}

.header__logo-link {
  /*Иначе снизу логотипа добавятся лишняя пара пикселей и высота блока header увеличится*/
  line-height: 0;
}

.header__lang-links {
  display: flex;
  list-style-type: none;
  margin: 18px 0 6px;
  padding-left: 0;
  font-size: 24px;
  line-height: 28px;
}

.header__lang-links-item {
  margin-right: 18px;
}

.header__lang-links-item:last-child {
  margin-right: 0;
}

.header__lang-link {
  color: #FFFFFF;
  text-decoration: none;
  display: inline-block;
}

.header__lang-link_active {
  position: relative;
}

.header__lang-link_active::after {
  position: absolute;
  content: "";
  display: block;
  width: 29px;
  border-bottom: 1px solid #FFFFFF;
}
