.content {
  width: 100%;
}

.content__lead {
  margin: 56px auto 0;
}

.content__intro {
  margin: 92px auto 0;
}

.content__photo-grid {
  margin: 92px auto 0;
}

.content__places {
  margin: 93px auto 0;
}

.content__cover {
  margin: 92px auto 0;
}

@media screen and (max-width: 1279px) {
  .content__lead {
    margin: 48px auto 0;
  }

  .content__places {
    margin: 93px auto 0;
    padding: 0 48px;
  }
}

@media screen and (max-width: 1279px) {
  .content__intro {
    padding: 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .content__intro {
    margin: 88px 24px 0;
    padding: 0;
  }

  .content__places {
    margin: 88px auto 0;
    padding: 0 24px;
  }

  .content__photo-grid {
    margin: 88px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .content__intro {
    margin: 64px 16px 0;
  }

  .content__photo-grid {
    margin: 64px auto 0;
  }

  .content__places {
    margin: 64px auto 0;
    padding: 0;
  }

  .content__cover {
    margin-top: 66px;
  }
}
